env
.env
venv
.venv
.venv.example
.env.example
__pycache__
.vscode
*.egg-info
*.egg
*.log
*.pid
*.pyc
*.sqlite
*.sql
*.zip
__pycache__
build
db.sqlite3
dist
local_settings.py
migrations
pids
production.py
staticfiles
.tox
.aider.*
